[Unit]
Description=SourceForge 2.0 Terminal on tty1
After=getty@tty1.service
Conflicts=getty@tty1.service

[Service]
Type=simple
TTYPath=/dev/tty1
TTYReset=yes
TTYVTDisallocate=yes
StandardInput=tty
StandardOutput=tty
StandardError=tty
Environment=SF20_RUNNING=1
ExecStart=/usr/local/bin/sourceforge-term
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
