[Unit]
Description=SourceForge 2.0 Terminal (tty1)
Conflicts=getty@tty1.service

[Service]
ExecStart=-/usr/local/bin/sourceforge-term
Restart=always
StandardInput=tty
StandardOutput=tty
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes

[Install]
WantedBy=multi-user.target
